* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

img {
    width: 583px;
    height: 374px;
}
 
body {
    background: #000000;
    margin: 126px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p {
    font-weight: 400;
    font-size: 32px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 126px;
    margin-bottom: 29px;
}

input {
    width: 342px;
    height: 74px;
    background: rgba(255, 255, 255, 0.25);
    opacity: 0.7;
    border-radius: 14px;
    border: 1px solid #ffffff;
    font-size: 40px;
    font-weight: 500;
    padding-left: 16px;
    margin-right: 62px;
    color: #ffffff;
}

input::placeholder {
    color: #ffffff;
}

button {
    width: 342px;
    height: 72px;
    border-radius: 10px;
    background: #AEC346;
    font-size: 36px;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 2.5px;
    margin: 76px auto 0;
    border: none;
    cursor: pointer;
    display: block;
    margin-bottom: 60px;
}

button:hover {
    opacity: 0.7;
}

button:active {
    opacity: 0.5;
}

@media screen and (max-width: 830px) {
    input {
        display: block;
        margin: 0 auto 20px;
        width: 280px;
        height: 55px;
    }

    body {
        margin-top: 40px;
        padding-left: 25%;
        padding-right: 25%;
        background: rgba(0, 0, 0, 0.85);
    }

    img {
        width: 420px;
        height: 320px;
    }

    p {
        font-size: 20px;
    }

    button {
        width: 280px;
        height: 55px;
        margin-top: 50px;
    }
}